{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<title>TreasureGram</title>
</head>
<body>
	<nav class="navbar navbar-default navbar-static-top text-center">
		<a href="/">
			<img src= "{% static 'images/logo.png' %}" alt="TreasureGram">
		</a>
	</nav>
	<main class="container" role="main" >
		<div class="treasure">
			{% for treasure in treasures %}
				<div class="box col-lg-2">
					<div class="panel-heading text-center">
						<h2 class="panel-title">{{ treasure.name }}</h2>
					</div>
					<div class="panel-body text-center">
						<div class="treasure-photo">
							<img src="{{ treasure.img_url }}" height="60px">
						</div>
						<br>
						<center>
							<table class="treasure-table">
								<tr>
									<th>type</th>
									<td>&nbsp; {{ treasure.material }}</td>
								</tr>
								<tr>
									<th>value</th>
									<td>
										&nbsp;
										{% if treasure.value > 0 %}
											{{ treasure.value }}
										{% else %}
											Unknown
										{% endif %}
									</td>
								</tr>
							</table>
						</center>
						<br>
						<button class="btn btn-primary">Comprar</button>
					</div>
				</div>
			{% endfor %}
		</div>
	</main>
</body>
</html>